* {
    margin: none;
    padding: 0px;
}

.mother {
    width: 200px;
    height: 280px;
    background-color: rgb(245, 237, 237);
    border-top: black 5px solid;
    margin: auto;
    border-bottom: 5px solid black;
    border-radius: 5px;
    box-shadow: 3px 5px 3px gray;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 50px;
}

.details,
.dept {
    text-align: center;
}

hr {
    width: 30px;
    border: 2px solid black;
}